/* General CSS */

body
{
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.container
{
    width: 900px;
    margin: auto;
}

#section-hosting, #section-hosting-most_popular, footer
{
    background-color: #F2F2F2;
}

h1
{
    font-style: bold;
    font-size: 1.2em;
}

h2
{
    font-style: bold;
    font-size: 0.9em;
}

ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.fas
{
    color: #0065FC;
}

/* Header */

header
{
    margin-bottom: 40px;
}

header ul
{
    display: flex;  
    float: right;
    padding: 60px 0px 0px 0px;  
}

header li
{
    margin-left: 50px; 
    text-align: right;
}

header a
{
    text-decoration: none;
    color: black;
}

header strong
{
    font-weight: bold;
    color: #0065FC;
    margin-right: 4px;
}

header img
{
    padding: 45px 0px 0px 0px;
}

a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 60px;
}